absl-py==0.7.1
aiohttp==3.6.2
alabaster==0.7.12
appdirs==1.4.3
argcomplete==1.10.2
astor==0.7.1
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==19.1.0
Babel==2.8.0
backcall==0.1.0
bleach==3.1.0
brotlipy==0.7.0
certifi==2020.6.20
cffi==1.12.3
chardet==3.0.4
chinesecalendar==1.2.2
cloudpickle==1.3.0
colorama==0.4.1
control==0.8.2
cryptography==2.9.2
cycler==0.10.0
Cython==0.29.20
decorator==4.4.0
deepdiff==5.5.0
defusedxml==0.6.0
distlib==0.3.0
docutils==0.16
entrypoints==0.3
enum34==1.1.10
fasteners==0.15
filelock==3.0.12
future==0.17.1
gast==0.2.2
glfw==1.11.2
grpcio==1.16.1
-e git+https://github.com/openai/gym.git@2c53496e2c0aa4bc8abae5bd753a7bf30866651a#egg=gym
h5py==2.9.0
hyperopt==0.1.2
idna==2.9
ImageHash==4.1.0
imageio==2.8.0
imagesize==1.2.0
importlib-metadata==1.6.0
ipdb==0.13.2
ipykernel==5.1.1
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.3
Jinja2==2.10.1
joblib==0.13.2
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lockfile==0.12.2
lxml==4.3.4
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.0
mistune==0.8.4
mock==3.0.5
monotonic==1.5
more-itertools==8.4.0
mpyq==0.2.5
multidict==4.7.2
nbconvert==5.5.0
nbformat==4.4.0
networkx==2.3
notebook==5.7.8
numpy==1.16.4
numpydoc==1.0.0
olefile==0.46
ordered-set==4.0.2
packaging==20.4
pandas==0.25.0
pandocfilters==1.4.2
parso==0.4.0
patsy==0.5.1
pickleshare==0.7.5
Pillow==6.0.0
pluggy==0.13.1
portpicker==1.3.9
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.8.0
py==1.8.2
pycparser==2.19
pygame==2.0.1
pyglet==1.5.0
Pygments==2.4.2
pymongo==3.8.0
pyOpenSSL==19.1.0
pyparsing==2.4.0
pyreadline==2.1
pyrsistent==0.14.11
PySC2==3.0.0
PySocks==1.7.1
pytest==5.4.3
pytest-instafail==0.3.0
python-dateutil==2.8.0
pytz==2019.1
PyWavelets==1.1.1
pywinpty==0.5.5
PyYAML==5.1
pyzmq==18.0.0
qtconsole==4.5.1
requests==2.23.0
s2clientprotocol==5.0.7.84643.0
s2protocol==5.0.7.84643.0
scikit-learn==0.21.2
scipy==1.2.1
seaborn==0.9.0
Send2Trash==1.5.0
six==1.12.0
sk-video==1.1.10
snowballstemmer==2.0.0
Sphinx==3.0.4
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
statsmodels==0.10.0
tensorboard==1.13.1
tensorboardX==2.0
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.2.0
torchmeta==1.1.1
torchvision==0.4.0
tornado==6.0.2
tqdm==4.33.0
traitlets==4.3.2
urllib3==1.25.9
virtualenv==20.0.19
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==1.0.0
websockets==8.1
Werkzeug==0.15.4
whichcraft==0.6.1
widgetsnbextension==3.4.2
win-inet-pton==1.1.0
wincertstore==0.2
xlrd==1.2.0
xmltodict==0.12.0
yarl==1.4.2
zipp==3.1.0
